Options +FollowSymlinks
RewriteEngine On
RewriteRule ^page/([a-zA-Z]+).html$ index.php?p=$1 
RewriteRule ^pathologie/(((-)?[a-zA-Z]+)+)-([0-9]+).html$ index.php?p=symptomes&patho=$4 
RewriteRule ^search/(((-)?[a-zA-Z]+)+)/$ index.php?p=search&s=$1 [L] 
