{extends file="view/model.html"}
{block name=contenu}
	<h2>Titre Page</h2>
	<p>
		Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed et nibh ac eros euismod convallis. Nunc sollicitudin, lorem ac molestie feugiat, justo nulla aliquam eros, nec consectetur est sapien sit amet arcu. Aliquam bibendum mauris a enim facilisis, a dapibus est accumsan. Praesent bibendum nisi ex, sit amet vulputate dolor placerat at. Curabitur at massa vitae magna molestie pellentesque. Mauris molestie ultricies lorem, eu aliquam felis tempus nec. Sed et mi ipsum. Donec lectus nisi, cursus eu rhoncus sed, fringilla quis nunc. Duis quis molestie magna. Vestibulum sed nibh mi. 
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nibh ac eros euismod convallis. Nunc sollicitudin, lorem ac molestie feugiat, justo nulla aliquam eros, nec consectetur est sapien sit amet arcu. Aliquam bibendum mauris a enim facilisis, a dapibus est accumsan. Praesent bibendum nisi ex, sit amet vulputate dolor placerat at. Curabitur at massa vitae magna molestie pellentesque. Mauris molestie ultricies lorem, eu aliquam felis tempus nec. Sed et mi ipsum. Donec lectus nisi, cursus eu rhoncus sed, fringilla quis nunc. Duis quis molestie magna. Vestibulum sed nibh mi. 
	</p>
{/block}