{extends file="view/model.html"}
{block name=contenu}
<h2>Compte</h2>


<fieldset id="blockFormulaireConnexion">
    <legend>Connexion</legend>
    <form  method="post" action="lib/main.php?variable=truc" id="formulaireConnexion">
        <ul>
            <li>
                <label for="email_addr">Adresse mail&nbsp;</label>
                <input type="text" id="full_name" name="full_name" placeholder="jean.dupond@acupuncture.com" required>
            </li>
            <li>
                <label  for id="password-connexion"> Mot de passe &nbsp;</label>
                <input  id="passord-connexion" type="password" name="psw-connexion" >
            </li>
            <li>
                <input id="login-submit" type="submit" value="Se connecter" />
            </li>
        </ul>
    </form>
</fieldset>


<fieldset id="blockFormulaireInscription">
    <legend>Créer votre compte</legend>
    <form  method="post" action="lib/main.php?variable=truc" id="formulaireInscription">
        <ul>
            <li>
                <label for="email_addr">Adresse mail&nbsp;</label>
                <input type="email" id="email_addr" name="email_addr" placeholder="jean.dupond@acupuncture.com" required>
            </li>
            <li>
                <label for="email_addr_repeat">Confirmez l'adresse mail&nbsp;</label>
                <input type="email" id="email_addr_repeat" name="email_addr_repeat"  placeholder="jean.dupond@acupuncture.com" required
                       oninput="checkMail(this)">
            </li>
            <li>
                <label for="prenom">Prénom&nbsp;</label>
                <input type="text" id="prenom" name="prenom" placeholder="Jean" required >
            </li>
            <li>
                <label for="nom">Nom&nbsp;</label>
                <input type="text" id="nom" name="nom" placeholder="Dupond" required>
            </li>

            <li>
                <label for id="password">Mot de passe &nbsp;</label>
                <input type="password" name="psw">
            </li>
            <li>
                <label for="password_repeat">Confirmer votre mot de passe &nbsp;</label>
                <input type="password" id="password_repeat" name="psw-repeat" required oninput="checkPassword(this)">
            </li>
            <li>
                <input id="register-submit" type="submit" value="Créer votre compte" />
            </li>
        </ul>
    </form>
</fieldset>

{/block}