{extends file="view/model.html"}
{block name=contenu}
<h2>Compte</h2>

<div class="twoColumns">
    <fieldset">
        <legend>Connexion</legend>
        <form method="post" action="#" id="login_form" onSubmit="return loginUser();">
            <span class="errorTxt" style="padding-left: 50px;"></span>
            <ul>
                <li>
                    <label for="login_email">Adresse mail</label>
                    <input type="email" id="login_email" name="login_email" placeholder="jean.dupond@acupuncture.com" onkeyup="checkLoginForm();" />
                </li>
                <li>
                    <label for="login_pwd"> Mot de passe</label>
                    <input id="login_pwd" type="password" name="login_pwd" onkeyup="checkLoginForm();" />
                </li>
                <li>
                    <input id="login_submit" type="submit" value="Se connecter"  disabled />
                </li>
            </ul>
        </form>
    </fieldset>
</div>

<div class="twoColumns">
    <fieldset>
        <legend>Créer votre compte</legend>
        <form method="post" action="#" id="inscr_form" onSubmit="return checkInscr();">
            <ul>
                <li>
                    <label for="email_inscr">Adresse mail</label>
                    <input type="email" id="email_inscr" name="email_inscr" placeholder="jean.dupond@acupuncture.com" required />
                </li>
                <li>
                    <label for="email_confirm_inscr">Confirmation adresse mail</label>
                    <input type="email" id="email_confirm_inscr" name="email_confirm_inscr"  placeholder="jean.dupond@acupuncture.com" />
                </li>
                <li>
                    <label for="prenom_inscr">Prénom</label>
                    <input type="text" id="prenom_inscr" name="prenom_inscr" placeholder="Jean" required />
                </li>
                <li>
                    <label for="nom_inscr">Nom</label>
                    <input type="text" id="nom_inscr" name="nom_inscr" placeholder="Dupond" required />
                </li>

                <li>
                    <label for id="pwd_inscr">Mot de passe</label>
                    <input type="password" name="pwd_inscr" id="pwd_inscr" required />
                </li>
                <li>
                    <label for="pwd_confirm_inscr">Confirmation mot de passe</label>
                    <input type="password" id="pwd_confirm_inscr" name="pwd_confirm_inscr" required />
                </li>
                <li>
                    <input id="register_submit" type="submit" value="Créer votre compte" />
                </li>
            </ul>
        </form>
    </fieldset>
</div>

{/block}