<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{block name=title}{/block}Association des Acupuncteurs soucieux de l'Accessibilité</title>
    <link rel="stylesheet" href="/styles/all.css">
    <script src="/scripts/jquery-3.2.0.min.js"></script>
    <script src="/scripts/login_form.js"></script>
</head>
<body>

<!-- Header -->
<header>
    <div>
        <h1>Association des Acupuncteurs soucieux de l'Accessibilité</h1>

        <!-- Menu de navigation -->
        <nav>
            <ul>
                <li><a href="/" title="">Accueil</a></li>
                <li><a href="" title="">Les Symptômes</a></li>
                <li><a href="/page/pathologies.html" title="">Les Pathologies</a></li>
                <li><a href="/" title="">Me soigner</a></li>
                <li><a href="/page/login" title="">Mon Compte</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Contenu de la page -->
<div id="container">
    <section id="contenu">
        {block name=contenu}No content{/block}
    </section>

    <section id="infos">
        <h2>Les infos</h2>

        {foreach from=$listeNews key=i item=n}
        <article>
            <h3>{$n["titreNews"]}</h3>
            <p>{$n["texteNews"]}</p>
        </article>
        {/foreach}

    </section>
</div>

<!-- Footer -->
<footer>
    Created by Corentin G. and Florian L. - &copy; 2017
</footer>

</body>
</html>