<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{block name=title}{/block}Association des Acupuncteurs soucieux de l'Accessibilité</title>
    <link rel="stylesheet" href="styles/all.css">
</head>
<body>

<!-- Header -->
<header>
    <div>
        <h1>Association des Acupuncteurs soucieux de l'Accessibilité</h1>

        <!-- Menu de navigation -->
        <nav>
            <ul>
                <li><a href="" title="">Les Symptômes</a></li>
                <li><a href="" title="">Recherche de pathologies</a></li>
                <li><a href="" title="">Me soigner</a></li>
                <li>Mon Compte</li>
            </ul>
        </nav>
    </div>
</header>

<!-- Contenu de la page -->
<div id="container">
    <section id="contenu">
        {block name=contenu}No content{/block}
    </section>

    <section id="infos">
        <h2>Les p'tites infos</h2>
        <article>
            <h3>Nos horaires</h3>
            <p>Ouvert le XX de XXh à XXh !</p>
        </article>

        <article>
            <h3>New !</h3>
            <p>Nouvelles aiguilles disponibles !</p>
        </article>
    </section>
</div>

<!-- Footer -->
<footer>
    Created by Corentin G. and Florian L. - &copy; 2017
</footer>

</body>
</html>